body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.mycanva{
    border: 3px solid black;
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
}
.ball{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.ball img{
    width: 100%;
}
.bounce{
    animation: bounce 5s linear 0s infinite alternate;
}
.bounceA{
    animation: bounceA 1.2s ease-in 0s infinite alternate;
}
@keyframes bounce{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(445px);
    }
}
@keyframes bounceA{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(450px);
    }
}
